body 
	background #3D3D3D
.Nav
	background #1E1E1E
	box-shadow 0 1px 4px rgba(0, 0, 0, 0.4)
	height 3.75em
	left 0
	position fixed
	right 0
	top 0
	z-index 3 
	&_logo
		display inline-block
		padding-left 7em
		vertical-align middle
	&_botonera
		display inline-block
		font-family 'Open Sans'
		padding-left 12em
		margin 0
	&_botoneraItem
		display inline-block
	&_botoneraItemLink
		color #00DBFF
		margin-right 1.5em
		text-decoration none
		&:hover
			color white
			background rgba(0,0,0,0.5)



