<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<title>METACINE Films</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="../favicon.ico" />
	<link rel="stylesheet" href="../Css/stylesheet.css">
	<link rel="stylesheet" href="../Css/normalize.css">
</head>
<body>
	<header`class="Header">
		<nav class="Nav">
			<figure class="Nav_logo">
				<a href="index.html" class="Nav_logoImgLink">
					<img src="../img/logo.png" alt="Logo de Metacine films" class="Nav_logoImg">
				</a>
			</figure>
			<ul class="Nav_botonera">
				<li class="Nav_botoneraItem"><a href="#" class="Nav_botoneraItemLink">Quienes somos</a></li>
				<li class="Nav_botoneraItem"><a href="#" class="Nav_botoneraItemLink">Equipo</a></li>
				<li class="Nav_botoneraItem"><a href="#" class="Nav_botoneraItemLink">Servicios</a></li>
				<li class="Nav_botoneraItem"><a href="#" class="Nav_botoneraItemLink">Producciones</a></li>
				<li class="Nav_botoneraItem"><a href="#" class="Nav_botoneraItemLink">Contacto</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>